<h2>
  First application in angular - say - {{title}} 
</h2>
<div>
  Div in template
</div>
<h1>heading 1</h1>
<h3>{{str}}</h3>
<h3>{{str.length}}</h3>
<h3>{{"length of "+ str+ " is " + str.length}}</h3>
<h3>{{"Upper Case of "+ str + " is "+ str.toUpperCase()}}</h3>
<h3>{{"calling function - "+ function()}}</h3>
<h3>{{"2+2"}}</h3>
<h3>{{3*65}}</h3>
<input [id]="myId"  type="text" value="Vishwas">
<input id={{myId}}  type="text" value="Vishwas">

<!-- <div style="text-align: center ; background-color:lightgreen ; padding:0px ; margin: 0 auto" > -->
<h4 style="text-align: center;background-color:lightgreen;">--------------CLASS BINDING----------</h4>
<h2 class="text-success"> Angular 1</h2>
<h2 [class]= "successclass"> Angular 2</h2>
<h2 class="text-special" [class]="successclass">Angular italic 3</h2>
<h2 [class.text-danger]="hasError">Angular 4</h2>
<h2 [ngClass]="messageClasses">Angular 5</h2>
<h4 style="text-align: center;background-color:lightgreen;">--------------STYLE BINDING----------</h4>
<h2 [style.color]="'red'">Style 1</h2>
<h2 [style.color]="hasError ? 'purple':'blue'">Style 2</h2>
<h2 [style.color]="highlightcolor">style 3</h2>
<h2 [ngStyle]="titleStyle">Style 4</h2>

<h4 style="text-align: center;background-color:lightgreen;">--------------EVENT BINDING----------</h4>
<button (click)="onClick()">click me {{greeting}} !</button>
{{greeting}}

<h4 style="text-align: center;background-color:lightgreen;">--------------TEMPLATE----------</h4>
<input #myInput type="text" >
<button (click)="logMessage(myInput.value)">Log</button>

<h4 style="text-align: center;background-color:lightgreen;">--------------TWO WAY BINDING----------</h4>
<input [(ngModel)]="name5" type="text">
{{name5}} 

<h4 style="text-align: center;background-color:lightgreen;">--------------ngIf DIRECTIVE----------</h4>
<span>Case 1-----------</span>
<h2 *ngIf='condition'>
  Case 1- *ngIf directive
</h2>  

<span>Case 2-----------</span>
<h3 *ngIf="condition2; else block2">
  Case 2-Block 1 run
</h3>
<ng-template #block2 >
  <h2 >Case 2-Block 2 run</h2>
</ng-template>

<span>Case 3------------- </span>
<div *ngIf="condition2 ; then block11; else block22"></div>
<ng-template #block11>
  <h2>this is if block i.e.block 11</h2>
</ng-template>
<ng-template #block22>
  <h2>this is else block i.e block 22 </h2>
</ng-template>

<span>Case 4------------- </span>
<ng-template [ngIf]="show == 'red'">
  <h6>Red color</h6>
</ng-template>

<h4 style="text-align: center;background-color:lightgreen;">--------------ngSwitch DIRECTIVE----------</h4>
<div [ngSwitch] = "ngColor1">
  <div *ngSwitchCase="'red'"> U Picked red color</div>
  <div *ngSwitchCase="'blue'"> U Picked blue color</div>
  <div *ngSwitchCase="'pink'"> U Picked pink color</div>
  <div *ngSwitchDefault="">picked again</div>
</div>
<h4 style="text-align: center;background-color:lightgreen;">--------------ngFor DIRECTIVE----------</h4>
<div *ngFor="let c of colors; index as i">
  {{i}}   {{c}}</div>
  <div>_____</div>
 <div *ngFor="let c of colors; first as f">
  {{f}}   {{c}} </div>
  <div>_____</div>
  <div *ngFor="let c of colors; last as l">
  {{l}}   {{c}}</div>
  <div>_____</div>
  <li *ngFor="let c of colors; odd as o">
  {{o}}   {{c}}</li>


  <!-- Pipes -->
  <h4 style="text-align: center;background-color:lightgreen;">-------------PIPES----------</h4>
  <h2>{{str}}</h2>
  <h5>{{str | lowercase}}</h5>
  <h5>{{str | uppercase}}</h5>
  <h5>{{str | titlecase}}</h5>
  <h5>{{str | slice: 3: 6}}</h5>
  <h5>{{person | json}}</h5>

  <h5>{{0.56 | percent}}</h5>
  <h5>{{0.56 | currency}}</h5>
  <h5>{{0.56 | currency: 'GBP'}}</h5>
  <h5>{{0.56 | currency: 'INR'}}</h5>
  <h5>{{0.56 | currency: 'GBP' :'code'}}</h5>
  <h5>{{0.56 | currency: 'EUR'}}</h5>

  <h3>_____Time and date_____</h3>
  <h5>{{date}}</h5>
  <h5>{{date | date:'short'}}</h5>
  <h5>{{date | date:'shortDate'}}</h5>
  <h5>{{date | date:'shortTime'}}</h5>

  <h4 style="text-align: center;background-color:lightgreen;">-------------CUSTOM PIPES----------</h4>
  <h4>{{20 |  usdInr}}</h4>

  <!-- Services -->
  <h4 style="text-align: center;background-color:lightgreen;">--------------SERVICE----------</h4>
  <h4>Employee List</h4>
  <ul *ngFor = "let emp of employee">
    <li>{{emp.name}}</li>
  </ul>

<!-- <app-root></app-root> -->
<!-- <app-user-list></app-user-list>
<h5>App login</h5>
<app-login></app-login>
<h5>App signup</h5>
<app-signup></app-signup> -->

<h4 style="text-align: center;background-color:lightgreen;">--------------FORM----------</h4>
<!-- <form #simpleForm = "ngForm" (ngSubmit)= "getUserValue(simpleForm.value)" > -->
  <input type="text" ngModel name="username" placeholder="enter name">
  <br>
  <input type="text" ngModel name="age" placeholder="enter age">
  <br>
  <input type="text" ngModel name="useraddress" placeholder="enter address">
  <br>
  <button>get user name</button>
  <h4 style="text-align: center;background-color:skyblue;">--------------MAKE HEADER AND FOOTER IN ANGULAR--------</h4>
  <h4 style="text-align: center;background-color:skyblue;">--------------HEADER----------</h4>
  <!-- <app-header></app-header> -->
    
<!-- </form> -->
<h4 style="text-align: center;background-color:lightgreen;">--------------TODO LIST----------</h4>
<input type="text" placeholder="Enter here" #task> <br><br>
<button (click)="addTask(task.value)">click it</button>

<div style="border: 2px solid black;">
<ul *ngFor="let item of list"  >
  <li >{{item.name}} <button (click)="removeTask(item.id)">Click for remove</button>  </li>
  </ul></div>

  <div style="text-align: center;background-color:pink; font-size: larger;"><h1>
    Parent to Child
  </h1>
  
  <app-child [item]="data"></app-child>
  <button (click)="updateChildValue()">Child value update</button>

  <div style="background-color: aqua;"> <h1> Reusable Component</h1>
  <ul *ngFor="let user of userDetail">
    <app-user-detial [item3] = "user"></app-user-detial>
  </ul>
  </div>
</div>
 
  <div style="background-color: rgb(195, 113, 201);"> <h1>Send child sata to parent component</h1>
  <app-child2 (updateDataEvent) = "updateData($event)"></app-child2>
  </div>

  <div style="background-color: rgb(95, 154, 39);"> <h1>Template Driven Form</h1>
    <!-- make change in appmodule i.e. import { FormsModule } from '@angular/forms' nd import this -->
    <form #loginForm ="ngForm" (ngSubmit) = userLogin(loginForm.value)>
      <input type="text" placeholder="enter text" name="name" ngModel>
      <br><br>
      <input type="password" placeholder="Enter password" name="password" ngModel>
      <br><br>
      <button>LogIn</button>
    </form>
    <button (click)="userLogin(loginForm.value)">Outside button LogIn</button>
    </div>

   <div style="background-color: rgb(95, 154, 39);"> <h1>Reactive Driven Form</h1>
    <!-- change in appComponent i.e. import { FormControl , FormGroup } from '@angular/forms';
    and make change in app.module i.e.import { ReactiveFormsModule } from '@angular/forms'; and then export this and  -->
    <form [formGroup] = "logForm" (ngSubmit) = "loginUser()" >
      Name:<input type="text" placeholder="enter text" name="name"  formControlName = "user">
      <span style="color:red" *ngIf = "user && user.invalid && user.touched">This field is invalid</span>
      <span style="color:rgb(9, 255, 0)" *ngIf = "user && user.valid && user.touched">This field is invalid</span>
      <br><br>
      Email:<input type="email" placeholder="enter email" name="email"  formControlName = "email">
      <span style="color: red;" *ngIf= "email && email.invalid && email.touched">This field is invalid</span>
      <span style="color: rgb(9, 255, 0);" *ngIf= "email && email.valid && email.touched">This field is invalid</span>
      <br><br>

      Password:<input type="password" placeholder="Enter password" name="password"  formControlName = "password">
      <span style="color: red;" *ngIf ="password && password.invalid && password.touched">Password field is invalid</span>
      <span style="color: rgb(9, 255, 0)" *ngIf ="password && password.valid && password.touched"><span>Password field is valid</span></span>
      <br><br>

      Enter only Upper Alphabet:<input type="text" name="upper_Alphabet" placeholder="Enter Enter only Alphabet" name="upper_alphabet"  formControlName = "upper_alphabet">
      <span style="color: red;" *ngIf ="upper_alphabet && upper_alphabet.invalid && upper_alphabet.touched">Enter only Upper Alphabet field is invalid</span>
      <span style="color: rgb(9, 255, 0)" *ngIf ="upper_alphabet && upper_alphabet.valid && upper_alphabet.touched"><span>Enter only Alphabet field is valid</span></span>
      <br><br>

      Enter only Lower Alphabet:<input type="text" name="lower_Alphabet" placeholder="Enter Enter only Alphabet" name="lower_alphabet"  formControlName = "lower_alphabet">
      <span style="color: red;" *ngIf ="lower_alphabet && lower_alphabet.invalid && lower_alphabet.touched">Enter only Lower Alphabet field is invalid</span>
      <span style="color: rgb(9, 255, 0)" *ngIf ="lower_alphabet && lower_alphabet.valid && lower_alphabet.touched"><span>Enter only Lower Alphabet field is valid</span></span>
      <br><br>
      <button [disabled]="logForm">LogIn</button>
    </form>
    <!-- <button (click)="userLogin(loginForm.value)">Outside button LogIn</button> -->
    </div>
  





